.Footer {
  width: 100%;
  height: auto;
}

.Footer .Contact {
  padding: 30px 50px;
  background-color: var(--color-gray-900);
  color: var(--color-white);
  text-align: center;
}

.ButtonContainer {
  text-align: center;
}

.ButtonClick {
  border: 1px solid white;
  background-color: var(--color-white);
}
