.navbar {
  width: 100%;
  background: var(--color-gray-900);
  color: var(--color-white);
  padding: 19px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left,
.navbar__right {
  display: flex;
}
